body{
    background-color: rgb(245, 246, 217);
}
.pagina {
    /*Divisione della pagina in due elementi belli e ordinati*/
  display: grid;
  grid-template-columns: auto auto;
  padding: 10px;
  width: fit-content;
  margin: auto;

  /*da questo punto tutti gli elementi dovrebbero riferirsi con le loro posizioni a questo*/
  position:relative;
}
.oggetto {
    /*pezzo generale della griglia*/
    background-color: rgb(196, 239, 150);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    height: 47vh;
}
#id_lettera{
    width: 2ch;
}
#destra{
    padding: 17vh 0px 0px ;
}
#id_parola{
    text-align: center;
}
.parte{
    height: 50vh;
    position: absolute;
    object-fit: cover;
    left: 180px;
    bottom: 2px;
    width: 200px;
    overflow: hidden;
}
#dietro{
    position: relative;
    height: 50vh;
    width: 200px;
    overflow: hidden;
}
.sinistra{
    width: 350px;
    overflow: hidden;
}
#dietro{
    /*oggetto sul quale si basano le immagini*/
    width: 500px;
    height: 50vh;
    object-fit: cover;
}
#id_errore{
    text-align: center;
    opacity: 80%;
}
